<head>
  <!-- Fix Mozilla Firefox warning. -->
  <!-- Jekyll don't add charset to "content-type" header -->
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="description" content="<%= pkg.description %>">
  <meta name="keywords" content="<%= pkg.keywords.join(' ') %>">
  <meta name="author" content="<%= pkg.author.name %>">
  <meta name="robots" content="nofollow">
  <meta name="google" content="notranslate">

  <title><%= pkg.name.charAt(0).toUpperCase() + pkg.name.slice(1) %></title>

  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="vendor/octicons/css/octicons.css">
  <link rel="stylesheet" href="vendor/highlight.js/css/zenburn.css">
  <link rel="stylesheet" href="dist/css/bootstrap-submenu.min.css">
  <link rel="stylesheet" href="assets/css/docs.css">

  <script src="vendor/jquery/js/jquery.js" defer></script>
  <script src="vendor/bootstrap/js/bootstrap.js" defer></script>
  <script src="https://cdn.jsdelivr.net/highlight.js/<%= pkg.devDependencies['highlight.js'].slice(1) %>/highlight.min.js" defer></script>
  <script src="dist/js/bootstrap-submenu.js" defer></script>
  <script src="assets/js/docs.js" defer></script>
</head>
