<h2 id="html-examples">Examples</h2>

<h3>Dropdown</h3>

<h4>With button</h4>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 m-b">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        Dropdown <span class="caret"></span>
      </button>

      <%- include dropdown-menu.html %>
    </div>
  </div>

  <div class="col-sm-4 m-b">
    <div class="dropdown pull-right">
      <button class="btn btn-default" type="button" data-toggle="dropdown" data-submenu>
        Dropdown <span class="caret"></span>
      </button>

      <%- include dropdown-menu-right.html -%>
    </div>
  </div>
</div>

<h4>With button-group</h4>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 m-b">
    <div class="btn-group">
      <button class="btn btn-default" type="button">Dropdown</button>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        <span class="caret"></span>
      </button>

      <%- include dropdown-menu.html -%>
    </div>
  </div>

  <div class="col-sm-4 m-b">
    <div class="btn-group pull-right">
      <button class="btn btn-default" type="button">Dropdown</button>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        <span class="caret"></span>
      </button>

      <%- include dropdown-menu-right.html -%>
    </div>
  </div>
</div>

<h3>Dropup</h3>

<h4>With button</h4>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 m-b">
    <div class="dropup">
      <button class="btn btn-default" type="button" data-toggle="dropdown" data-submenu>
        Dropup <span class="caret"></span>
      </button>

      <%- include dropdown-menu.html -%>
    </div>
  </div>

  <div class="col-sm-4 m-b">
    <div class="dropup pull-right">
      <button class="btn btn-default" type="button" data-toggle="dropdown" data-submenu>
        Dropup <span class="caret"></span>
      </button>

      <%- include dropdown-menu-right.html -%>
    </div>
  </div>
</div>

<h4>With button-group</h4>
<div class="row">
  <div class="col-sm-4 col-sm-offset-2 m-b">
    <div class="btn-group dropup">
      <button class="btn btn-default" type="button">Dropup</button>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        <span class="caret"></span>
      </button>

      <%- include dropdown-menu.html -%>
    </div>
  </div>

  <div class="col-sm-4 m-b">
    <div class="btn-group dropup pull-right">
      <button class="btn btn-default" type="button">Dropup</button>
      <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" data-submenu>
        <span class="caret"></span>
      </button>

      <%- include dropdown-menu-right.html -%>
    </div>
  </div>
</div>

<h3>Navbar</h3>
<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <a class="navbar-brand">Project Name</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a tabindex="0" data-toggle="dropdown" data-submenu>
          Dropdown<span class="caret"></span>
        </a>

        <%- include dropdown-menu.html -%>
      </li>
      <li class="dropdown">
        <a tabindex="0" data-toggle="dropdown" data-submenu>
          Dropdown 2<span class="caret"></span>
        </a>

        <%- include dropdown-menu.html -%>
      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a tabindex="0" data-toggle="dropdown" data-submenu>
          Dropdown 3<span class="caret"></span>
        </a>

        <%- include dropdown-menu.html -%>
      </li>
    </ul>
  </div>
</nav>

<h3>Pills</h3>
<ul class="nav nav-pills">
  <li class="active"><a tabindex="0">Regular link</a></li>
  <li class="dropdown">
    <a tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown<span class="caret"></span>
    </a>

    <%- include dropdown-menu.html -%>
  </li>
  <li class="dropdown">
    <a tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown 2<span class="caret"></span>
    </a>

    <%- include dropdown-menu.html -%>
  </li>
  <li class="dropdown">
    <a tabindex="0" data-toggle="dropdown" data-submenu>
      Dropdown 3<span class="caret"></span>
    </a>

    <%- include dropdown-menu.html -%>
  </li>
</ul>
